@media screen and (max-width:800px) {

    body, h1 {
        font-size: .95rem;
        line-height: 1.6;
    }

    .column {
        display: inline-block;
        scroll-snap-type: none;
    }

    .slide {
        position: relative;
        height: auto;

    }

    .qa, .footnote {
        position: relative;
        padding: 1.2rem;
        width: 100vw;
        height: auto;
    }

    .qa #q1 {
        padding-top: 3rem;
        overflow: visible;
    }

    .footnote {
        overflow: visible;
        background-color: whitesmoke;
    }

} 